.header {
  width: 100%;
  padding: 15px 25px;
  background: #24243e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1000;

}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.userArea {
  position: relative;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #03e9f4;
  color: #050801;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  background: #302b63;
  padding: 15px;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  animation: fadeIn 0.2s ease;
  z-index: 1100;

}

.dropdownEmail {
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

.dropdownBtn {
  width: 100%;
  padding: 8px 12px;
  background: transparent;
  border: 1px solid #03e9f4;
  color: #03e9f4;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.dropdownBtn:hover {
  background: #03e9f4;
  color: #050801;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
