.dashboardPage {
    position: relative;
    /*padding-top: 60px; */
    width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    background-color: #0f0c29;
    overflow: hidden; /* prevents scrollbars */
    overscroll-behavior: contain; /* prevents scroll chaining */
}


.controlPanel {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    
    display: flex;
    align-items: center;
    gap: 20px;
    
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    max-width: calc(100vw - 40px);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    z-index: 10; 
}

.title {
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}

.fileInput {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.fileInput::file-selector-button {
    margin-right: 10px;
    border: none;
    background: #03e9f4;
    padding: 8px 12px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.fileInput::file-selector-button:hover {
    background: #00d4df;
}

.button {
    padding: 8px 20px;
    background: transparent;
    border: 1px solid #03e9f4;
    color: #03e9f4;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.deleteButton {
    border: 1px solid red;
    color: red;
}

.button:hover {
    background: #03e9f4;
    color: #000;
    box-shadow: 0 0 10px #03e9f4;
}

.deleteButton:hover {
    background: red;
    color: #000;
    box-shadow: 0 0 10px red;
}


