* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Чтобы padding не ломал размеры */
}

body {
    /* Убираем белую рамку */
    margin: 0; 
    padding: 0;
    
    /* Задаем базовый фон на случай, если контент короче экрана */
    background-color: #0f0c29; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}